# Allow Half-Life-specific files that would otherwise be ignored
!lib/public/game_controls.lib
!lib/public/SDL2.lib
!utils/procinfo/lib/win32_vc6/procinfo.lib
!utils/vgui/lib/win32_vc6/vgui.lib
/build
/halflife-op4-dev
/compatible_maps
/hlcoop_install
/compatible_maps_new
/compatible_maps_stage
/compatible_maps_wip
/plugin_api
/plugins
/msvc
/msvc_client
