[submodule "sevenkewp"]
	path = sevenkewp
	url = https://github.com/wootguy/SevenKewp_data.git
[submodule "rehlds"]
	path = rehlds
	url = https://github.com/wootguy/rehlds
[submodule "plugins/HLCMapPlugins"]
	path = plugins/HLCMapPlugins
	url = https://github.com/wootguy/HLCMapPlugins
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
